## Create random animations

Animated SVGs are saved to the folder data/animated_svgs

In [1]:
import os
os.chdir("..")

In [2]:
import pickle
import warnings
import pandas as pd
from src.animations.create_random_animations import create_random_animations, combine_dataframes, create_backend_mapping_df
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 10)

C:\Users\sarah\Anaconda3\lib\site-packages\scipy\__init__.py:137: UserWarning: NumPy 1.16.5 or above is required for this version of SciPy (detected version 1.16.1)
  UserWarning)

### 1. Create Animations
Animations are not completely random. Probabilies of path labeling are considered.

##### Specify number of animations per logo

In [7]:
nb_animations = 50

##### Animation vectors are saved as dataframe in animate_logos/data/animated_svgs_dataframes
If split_df=true, animation vectors are saved to multiple dataframes (one dataframe per logo).  
If split_df=false, animation vectors are saved to one dataframe and returned.

Not sure which one is more efficient? If nb_animations very high, then split_df=true?

In [8]:
split_df = True

In [9]:
create_random_animations("data/svgs", nb_animations, split_df)

No probability given for path with animation ID 6 in logo logo_0. Probability is set to 0.2. single positional indexer is out-of-bounds

,file,animation_id,order_id,path_prob,begin_value,model_output,animated_animation_ids,animated_order_ids,backend_mapping
0,logo_0_animation_0,5,0,0.578947,2.00,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1]","[0, 1, 3, 4, 5]","[1, 1, 0, 1, 1, 1, 0, 0]"
1,logo_0_animation_0,0,1,0.526316,1.00,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.8...","[5, 0, 4, 3, 1]","[0, 1, 3, 4, 5]","[1, 1, 0, 1, 1, 1, 0, 0]"
2,logo_0_animation_0,4,3,0.526316,1.50,"[0, 0, 1, 0, 0, 0, -1.0, -1.0, -1.0, 0.4205715...","[5, 0, 4, 3, 1]","[0, 1, 3, 4, 5]","[1, 1, 0, 1, 1, 1, 0, 0]"
3,logo_0_animation_0,3,4,0.684211,1.25,"[0, 0, 0, 0, 0, 1, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1]","[0, 1, 3, 4, 5]","[1, 1, 0, 1, 1, 1, 0, 0]"
4,logo_0_animation_0,1,5,0.526316,1.75,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1]","[0, 1, 3, 4, 5]","[1, 1, 0, 1, 1, 1, 0, 0]"
...,...,...,...,...,...,...,...,...,...
81,logo_73_animation_1,1,2,1.000000,2.00,"[1, 0, 0, 0, 0, 0, 0.8474337369372327, 0.76377...","[0, 6, 1, 7, 13, 8, 2]","[0, 1, 2, 3, 4, 5, 6]","[1, 1, 1, 1, 1, 1, 1, 0]"
82,logo_73_animation_1,7,3,1.000000,2.25,"[0, 0, 1, 0, 0, 0, -1.0, -1.0, -1.0, 0.2550690...","[0, 6, 1, 7, 13, 8, 2]","[0, 1, 2, 3, 4, 5, 6]","[1, 1, 1, 1, 1, 1, 1, 0]"
83,logo_73_animation_1,13,4,0.833333,2.50,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.4...","[0, 6, 1, 7, 13, 8, 2]","[0, 1, 2, 3, 4, 5, 6]","[1, 1, 1, 1, 1, 1, 1, 0]"
84,logo_73_animation_1,8,5,0.916667,1.75,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[0, 6, 1, 7, 13, 8, 2]","[0, 1, 2, 3, 4, 5, 6]","[1, 1, 1, 1, 1, 1, 1, 0]"
85,logo_73_animation_1,2,6,0.916667,1.50,"[0, 0, 0, 0, 0, 1, -1.0, -1.0, -1.0, -1.0, -1....","[0, 6, 1, 7, 13, 8, 2]","[0, 1, 2, 3, 4, 5, 6]","[1, 1, 1, 1, 1, 1, 1, 0]"

### 2. Concatenat dataframes
This function concatenates all pkl files in a given folder. Please move or delete all pkl files that you don't want to concantenate.

In [12]:
df_combined = combine_dataframes("data/animated_svgs_dataframes")
df_combined

,file,animation_id,order_id,path_prob,model_output,animated_animation_ids,animated_order_ids,backend_mapping
0,logo_0_animation_0,5,0,0.562500,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
1,logo_0_animation_0,0,1,0.562500,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.8...","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
2,logo_0_animation_0,4,3,0.625000,"[0, 0, 1, 0, 0, 0, -1.0, -1.0, -1.0, 0.4205715...","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
3,logo_0_animation_0,3,4,0.500000,"[0, 0, 0, 0, 0, 1, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
4,logo_0_animation_0,1,5,0.625000,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
...,...,...,...,...,...,...,...,...
62,logo_73_animation_3,6,1,1.000000,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.2...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
63,logo_73_animation_3,1,2,1.000000,"[0, 0, 0, 0, 0, 1, -1.0, -1.0, -1.0, -1.0, -1....","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
64,logo_73_animation_3,7,3,1.000000,"[0, 1, 0, 0, 0, 0, -1.0, -1.0, 0.3699551665480...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
65,logo_73_animation_3,8,5,0.909091,"[1, 0, 0, 0, 0, 0, 0.6039200385961945, 0.62572...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
66,logo_73_animation_3,2,6,0.909091,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.0...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"

In [ ]:
# save dataframe
output = open(f"data/surrogate_model/animation_vectors.pkl", 'wb')
pickle.dump(df_combined, output)
output.close()

### 3. Create backend mapping

In [19]:
backend_mapping_df = create_backend_mapping_df(df_combined)
backend_mapping_df

                   file  0  1  2  3  4  5  6  7
0    logo_0_animation_0  1  1  0  1  1  1  0  1
1    logo_0_animation_1  0  1  0  0  0  0  0  0
2    logo_0_animation_2  0  0  1  1  0  1  0  1
3    logo_0_animation_3  1  0  1  1  0  0  0  0
4   logo_72_animation_0  1  1  1  1  1  0  1  1
5   logo_72_animation_1  1  1  1  1  1  0  1  1
6   logo_72_animation_2  1  1  1  1  1  0  1  1
7   logo_72_animation_3  1  1  1  1  0  0  0  1
8   logo_73_animation_0  1  1  1  1  1  1  1  0
9   logo_73_animation_1  1  1  1  1  1  1  1  0
10  logo_73_animation_2  1  1  1  1  1  1  1  0
11  logo_73_animation_3  1  1  1  1  0  1  1  0

In [21]:
# save backend mapping
backend_mapping_df.to_csv('data/animated_svgs_dataframes/backend_mapping.csv', index=False)

### 4. Insert label in concatenated dataframe
To-do: Insert label as new column in the following dataframe.

In [13]:
df_combined = combine_dataframes("data/animated_svgs_dataframes")
df_combined

,file,animation_id,order_id,path_prob,model_output,animated_animation_ids,animated_order_ids,backend_mapping
0,logo_0_animation_0,5,0,0.562500,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
1,logo_0_animation_0,0,1,0.562500,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.8...","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
2,logo_0_animation_0,4,3,0.625000,"[0, 0, 1, 0, 0, 0, -1.0, -1.0, -1.0, 0.4205715...","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
3,logo_0_animation_0,3,4,0.500000,"[0, 0, 0, 0, 0, 1, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
4,logo_0_animation_0,1,5,0.625000,"[0, 0, 0, 0, 1, 0, -1.0, -1.0, -1.0, -1.0, -1....","[5, 0, 4, 3, 1, 6]","[0, 1, 3, 4, 5, 7]","[1, 1, 0, 1, 1, 1, 0, 1]"
...,...,...,...,...,...,...,...,...
62,logo_73_animation_3,6,1,1.000000,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.2...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
63,logo_73_animation_3,1,2,1.000000,"[0, 0, 0, 0, 0, 1, -1.0, -1.0, -1.0, -1.0, -1....","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
64,logo_73_animation_3,7,3,1.000000,"[0, 1, 0, 0, 0, 0, -1.0, -1.0, 0.3699551665480...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
65,logo_73_animation_3,8,5,0.909091,"[1, 0, 0, 0, 0, 0, 0.6039200385961945, 0.62572...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"
66,logo_73_animation_3,2,6,0.909091,"[0, 0, 0, 1, 0, 0, -1.0, -1.0, -1.0, -1.0, 0.0...","[0, 6, 1, 7, 8, 2]","[0, 1, 2, 3, 5, 6]","[1, 1, 1, 1, 0, 1, 1, 0]"

In [ ]:
# save dataframe
output = open(f"data/surrogate_model/animation_label.pkl", 'wb')
pickle.dump(df_combined, output)
output.close()